<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.taneza.ronald.carbs"
    android:versionCode="5"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <supports-screens 
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
                      
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_donut"
        android:label="@string/app_name"
        android:name="com.gmail.taneza.ronald.carbs.common.CarbsApp"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.gmail.taneza.ronald.carbs.main.MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.gmail.taneza.ronald.carbs.main.FoodDetailsActivity"
            android:label="@string/title_activity_food_details"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.main.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.main.MainActivity" />
        </activity>
        
        <activity
            android:name="com.gmail.taneza.ronald.carbs.myfoods.MyFoodsActivity"
            android:label="@string/title_activity_my_foods"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.main.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.main.MainActivity" />
        </activity>
        
        <activity
            android:name="com.gmail.taneza.ronald.carbs.myfoods.MyFoodDetailsActivity"
            android:label="@string/title_activity_my_food_details"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.myfoods.MyFoodsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.myfoods.MyFoodsActivity" />
        </activity>
        
        <activity
            android:name="com.gmail.taneza.ronald.carbs.main.HelpActivity"
            android:label="@string/title_activity_help"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.main.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.main.MainActivity" />
        </activity>
        
    </application>

</manifest>