<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.taneza.ronald.carbs"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_donut"
        android:label="@string/app_name"
        android:name="com.gmail.taneza.ronald.carbs.common.CarbsApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gmail.taneza.ronald.carbs.main.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.main.FoodDetailsActivity"
            android:label="@string/title_activity_food_details"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.main.MainActivity" />
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.myfoods.MyFoodsActivity"
            android:label="@string/title_activity_my_foods"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.main.MainActivity" >
            <intent-filter>
		        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="text/plain" />
		        <data android:mimeType="text/html" />
		    </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.main.MainActivity" />
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.myfoods.MyFoodDetailsActivity"
            android:label="@string/title_activity_my_food_details"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.myfoods.MyFoodsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.myfoods.MyFoodsActivity" />
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.delete.DeleteItemsActivity"
            android:label="@string/title_activity_delete_items"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.main.MainActivity" />
        </activity>
    </application>

</manifest>