<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.taneza.ronald.carbs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_donut"
        android:label="@string/app_name"
        android:name="com.gmail.taneza.ronald.carbs.CarbsApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gmail.taneza.ronald.carbs.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.FoodDetailsActivity"
            android:label="@string/title_activity_food_details"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.MainActivity" />
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.MyFoodsActivity"
            android:label="@string/title_activity_my_foods"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.MainActivity" />
        </activity>
        <activity
            android:name="com.gmail.taneza.ronald.carbs.MyFoodDetailsActivity"
            android:label="@string/title_activity_my_food_details"
            android:parentActivityName="com.gmail.taneza.ronald.carbs.MyFoodsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.taneza.ronald.carbs.MyFoodsActivity" />
        </activity>
    </application>

</manifest>